<div class="footer">

  <div class="footer-message">

  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>

  </div>
  <div class="footer-copyright">
    <i class="far fa-copyright"></i> 2021 bike-lazer.fr made by odogsauce with <i class="fas fa-heart"></i>
  </div>

   <button onclick="topFunction()" id="myBtn" class="fas fa-chevron-up" title="Go to top"></button>
</div>


<script>
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

