<div class="footer">

  <div class="footer-message">
    CONTACT Que ce soit pour prendre rendez-vous ou pour toute autre question, n'hésitez surtout pas à nous contacter par
    téléphone ou par mail, BIKE L4ZER s'efforcera de vous répondre dans les meilleurs d.élais.
    07 31 57 96 97 - bl4@bikelazer.fr Venez aussi nous suivre sur instagram et Facebook
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>

  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
