<div id="nav" class="navbar navbar-expand-sm navbar-light navbar-lewagon ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
           <%= link_to "Home", root_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Réparation / Entretien",  reparation_path %>
        </li>
          <li class="nav-item">
         <%= link_to "Contact", contact_path %>
        </li>
          <li class="nav-item">
           <%= link_to "Prendre rendez-vous", meet_path, class: "btn btn-warning" %>
        </li>

      </ul>
    </div>
  </div>
</div>




<script>
          // checks if window is scrolled more than 500px, adds/removes solid class
          if((this).scrollTop() > 300) {
              ('.navbar').addClass('solid');
          } else {
              ('.navbar').removeClass('solid');
          }
</script>
