  <div class="container">
    <h2><i class="fas fa-globe"></i> CONTACT</h2>
    <p>
      Que ce soit pour prendre rendez-vous ou pour toute autre question, n'hésitez surtout pas à nous contacter par
      téléphone ou par mail, BIKE L4ZER s'efforcera de vous répondre dans les meilleurs délais.
      07 31 57 96 97 - bl4@bikelazer.fr
    </p>
  <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
    <div id="map"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <div class="card">
      <h4>35 rue renière</h4>
      <h4>33000 BORDEAUX</h4>


      <ul><strong>Lundi   Fermé</strong></ul>
      <ul>Mardi   9:30 - 17:30</ul>
      <ul>Mercredi    9:30 - 17:30</ul>
      <ul>Jeudi   9:30 - 17:30</ul>
      <ul>Vendredi    9:30 - 17:30</ul>
      <ul>Samedi    9:30 - 17:30</ul>
      <ul><strong>Dimanche    Fermé</strong></ul>

    </div>
  </div>

      <form>

    <label for="fname">Prénom</label>
    <input type="text" id="fname" name="firstname" placeholder="Prénom..">

    <label for="lname">Nom</label>
    <input type="text" id="lname" name="lastname" placeholder="Nom..">

     <label for="email">Email</label>
    <input type="text" id="lname" name="lastname" placeholder="email..">

    <label for="subject">Sujet</label>
    <textarea id="subject" name="subject" placeholder="message.." style="height:200px"></textarea>

    <a class="btn btn-primary" href="#">Envoyer</a>
  </form>

</div>
