contact

<div id="map"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div>
35 rue reniere
33000 Bordeaux
France

phone  07 31 57 96 97

email bl4@bikelazer.fr

Lundi   Fermé
Mardi   9:30 - 17:30
Mercredi    9:30 - 17:30
Jeudi   9:30 - 17:30
Vendredi    9:30 - 17:30
Samedi    9:30 - 17:30
Dimanche    Fermé
</div>

<div class="contact-form">

</div>
