<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1501147830916-ce44a6359892?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1>BIKE <i class="fas fa-biking"></i> L4ZER</h1>
    <h3>Bienvenue à L'atelier de réparation au service de votre vélo !</h3>
    <a class="btn btn-primary" href="#section2">En savoir plus</a>
  </div>
</div>




<div class="container" id="section2">
  <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
    <div class="card">
      <h1> <i class="fas fa-tools"></i> Réparation / Entretien</h1>
        <p>
          Réparation, l’entretien de votre vélo,
          que ce soit pour la direction, assise, transmission, freinage, vos roues.
          <br>
           Pour vélo urbain, fixie et single speed.
        </p>
        <div class="d-flex justify-content-center">
          <img src="https://images.unsplash.com/photo-1594399829357-5561893eaac2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8bWFpbnRlbmFuY2UlMjBiaWtlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"style="width:300px;height:200px;">
        </div>
    </div>

    <div class="card">
      <h1><i class="fas fa-bicycle"></i> Pièces détachées</h1>
        <p>
          Personnalisation de votre vélo, nous pouvons discuter ensemble de votre projet pour l’assemblage sur-mesure d’un vélo selon votre budget et vos envies.
        </p>
        <div class="d-flex justify-content-center">
          <img src="https://images.unsplash.com/photo-1562615193-cbeef074a501?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=809&q=80" style="width:300px;height:200px;">
        </div>
    </div>
  </div>
</div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    }
  });
});
</script>












