<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1501147830916-ce44a6359892?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1>BIKE <i class="fas fa-biking"></i> L4ZER</h1>
    <h2>Bienvenue à L'atelier de réparation au service de votre vélo !</h1>

    <a class="btn btn-primary" href="#">En savoir plus</a>
  </div>
</div>



<div class="container">
  <h1> <i class="fas fa-tools"></i> Réparation / Entretien</h1>
  <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
    <p>
      Réparation, l’entretien et la personnalisation de votre vélo.
      nous pouvons discuter ensemble de votre projet pour l’assemblage sur-mesure d’un vélo selon votre budget et vos envies.
    </p>
    <img src="https://images.unsplash.com/photo-1607109181641-74f8e7f4eb11?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cmVwYWlyJTIwYmlrZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"style="width:150px;height:250px;">
  </div>
       <div>

       <i class="fas fa-clipboard"></i> Prestations et tarifs de l'atelier
        <ul>
         <li>Roues</li>
         <li>Transmission</li>
         <li>Direction</li>
         <li>Freinage</li>
         <li>Assise</li>
         <li>Autres</li>
        </ul>
         <table style="width:100%">
  <tr>
    <th>presta</th>
    <th>prix</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>94</td>
  </tr>
</table>

       </div>

</div>






<div class="container">
  <h1><i class="fas fa-bicycle"></i> Pièces détachées</h1>

  <p>
    Des pièces détachées de qualité pour vélo urbain, fixie et single speed. Les couleurs sont au rendez vous.
    Que ce soit pour votre direction, votre assise, votre transmission, vos roues, votre freinage.
  </p>
  <img src="https://images.unsplash.com/photo-1562615193-cbeef074a501?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=809&q=80" style="width:300px;height:200px;">
</div>

