<div class="container">
    <h2><i class="fas fa-clipboard"></i> Prestations et tarifs de l'atelier</h2>
    <p>Vous trouverez ci-dessous les tarifs des prestations appliqués par notre atelier de réparation de vélo</p>

      <table style="width:100%">
        <tr>
          <th>Roues</th>
          <th>Prix</th>
        </tr>
        <tr>
          <td>Changement pneu / chambre à air avant / arrière</td>
          <td>10 €</td>
        </tr>
        <tr>
          <td>Crevaison avant / arrière</td>
          <td>10 €</td>
        </tr>
      </table>

      <br><br>

      <table style="width:100%">
        <tr>
          <th>Transmission</th>
          <th>Prix</th>
        </tr>
        <tr>
          <td>Changement pédales</td>
          <td>5 €</td>
        </tr>
        <tr>
          <td>Changement pédalier</td>
          <td>15 €</td>
        </tr>
        <tr>
          <td>Changement chaîne vitesse</td>
          <td>15 €</td>
        </tr>
      </table>

      <br><br>

      <table style="width:100%">
        <tr>
          <th>Direction</th>
          <th>Prix</th>
        </tr>
        <tr>
          <td>Changement pneu / chambre à air avant / arrière</td>
          <td>10 €</td>
        </tr>
      </table>

      <br><br>

      <table style="width:100%">
        <tr>
          <th>Freinage</th>
          <th>Prix</th>
        </tr>
        <tr>
          <td>Changement pneu / chambre à air avant / arrière</td>
          <td>10 €</td>
        </tr>
      </table>

      <br><br>

      <table style="width:100%">
        <tr>
          <th>Assise</th>
          <th>Prix</th>
        </tr>
        <tr>
          <td>Changement pneu / chambre à air avant / arrière</td>
          <td>10 €</td>
        </tr>
      </table>

      <br><br>

      <table style="width:100%">
        <tr>
          <th>Autres</th>
          <th>Prix</th>
        </tr>
        <tr>
          <td>Changement pneu / chambre à air avant / arrière</td>
          <td>10 €</td>
        </tr>
      </table>
</div>
