.banner {
  background-size: cover;
  background-position: center;
  padding: 300px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 75px;
  font-weight: bold;
}

.fa-biking {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  border-radius: 50%;
  padding: 20px;
}

.banner h3 {
  color: white;
}
