.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon:hover {
    background: green;
    opacity: 1;
    transition: 0.5s;
}
.navbar-lewagon {
    justify-content: space-between;
    background: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.nav-item a{
  color: red !important;
  text-decoration:none;
}

.navbar-brand {
  color: yellow !important;
}
