.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon:hover {
    background: $blue;
    opacity: 1;
    transition: 0.5s;
}

.navbar-lewagon {
    justify-content: space-between;
    background: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.nav-item a{
  color: white !important;
  text-decoration:none;
  padding: 55px;
  font-weight: bold;
  font-size: 20px;

}
