table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 55px;
  border-color: $blue;
   color: $blue;
}

th, td {
  padding: 15px;
}

th {
  text-align: left;
}

table {
  border-spacing: 5px;
  width: 100px;
}
